* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    /* background: rgb(255, 254, 255);
    background: linear-gradient(90deg, rgba(255, 254, 255, 1) 0%, rgba(51, 80, 45, 0.9) 0%, rgba(35, 71, 34, 0.9) 100%); */

    background: rgb(127, 134, 136);
    background: linear-gradient(0deg, rgba(127, 134, 136, 1) 0%, rgba(146, 157, 158, 1) 99%);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #333 2px solid;
    box-shadow: 5px 2px 4px 1px #33333399;
}

.logo img {
    margin: 15px 0px 10px 15px;
    width: 200px;
    height: 100%;
}

.search-box {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: #333;
    border-radius: 4rem;
    margin-right: 1rem;
    margin-top:15px;
    float: right;
}


.search-input {
    width: 100%;
    border: none;
    outline: none;
    color: #fcfeff;
    background: transparent;
    font-size: 0.9rem;
}

.search-box img {
    width: 32px;
    height: 32px;
    color: white;
}

.search-box .bx {
    cursor: pointer;

}

.search-box .bx:hover {
    color: white;
}

.profile-box {
    display: flex;

    margin-right: 20px;
}

.profile-box span {
    color: white;    
    cursor: pointer;
    font-size: 18px;
    font-weight: 540;
    margin-top: 20px;
    margin-right: 5px;
}

.profile-box .profile {
    cursor: pointer;
    width: 40px;
    height: 40px;
}


------------------------------


.watch-btn{
    display:flex ;
    align-items: center;
    column-gap: 0.8rem;
    color: #fcfeff;
}

.watch-btn .bx{
    font-size: 21px;
    background: #ffb43a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-btn .bx:hover{
    background: hsl(37, 94%, 57%);
}

.watch-btn span{
    font-size: 1rem;
    font-weight: 400;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px;
    margin-bottom: 2rem;
}

.heading .heading-title{
   font-size: 1.2rem;
   font-weight: 500;
}



.swiper-container {
    overflow: hidden;
    position: relative;
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .swiper-wrapper img{
    height: 250px;
    width: 180px;
  }
  .swiper-slide {
    flex: 0 0 50px;
    margin-right: 40px;
  }
  
  /* Nascondi i bottoni prev/next su dispositivi con schermo piccolo
  @media screen and (max-width: 480px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  } */

  .heading .heading-title{
    font-size: 1.2rem;
    font-weight: 500;
 }
 
 
 
 .movie-box{
     position: relative;
     width: 100%;
     height: 380px;
     overflow: hidden;
 }
 
 .movie-box .movie-box-img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .movie-box .box-text{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     padding: 14px;
     background: linear-gradient(8deg, hsl(240 17% 14% / 74%) 14%, hsl(240 17% 14% /14%) 44%);
     overflow: hidden;
 }
 
 .movie-box .box-text .movie-title{
     font-size: 1.1rem;
     font-weight: 500;
 }
 
 .movie-box .box-text .movie-type{
     font-size: 0.9rem;
 
 }
 
 .movie-box .box-text .play-btn{
     position: absolute;
     font-size: 0.8rem;
     right: 0.8rem;
 }
 
 
 .swiper-btn{
     display: flex;
 }
 .swiper-btn .swiper-button-next, .swiper-btn .swiper-button-prev{
     position: static !important;
     margin: 0 0 0 10px;
 }
 
 .swiper-btn .swiper-button-next::after, .swiper-btn .swiper-button-prev::after{
     color: #fcfeff;
     font-size: 18px !important;
     font-weight: 700;
 }
 
 .movies .heading{
     padding: 10px 14px;
 }
 
 .movies .movies-content{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     gap: 1.5rem;
 }
 
 .movies .movies-content .movie-box:hover .movie-box-img{
     transform: scale(1.1);
     transition: .5s;
 }


.hidden{
    display: none;
}